/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0px;
  font-family:'Courier New', Courier, monospace;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width:100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
@font-face {
    font-family: Norse;
    src: url(font/Norse-Bold.otf);
}
.wrapper-page {
    display:flex;
}
.odinImage {
    flex:1.5 0 0;
    min-height: 100vh;
    background-image: url(img/leaves.jpg);
    background-size: cover;

}
.text {
    flex: 2;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(250, 249, 247);
}
fieldset{
    display: flex;
    width: min-content;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-self: center;
    border: 0;
}

h1{ 
    color: white;
    text-align: center;
    margin-top: 20vh;
    padding: 30px;
    font-size: 60px;
    background-color: black;
    opacity: .7;
    font-family: Norse;;
}
#png {
    max-width: 20vw;
    max-height: 15vh;
    border: 2px red solid;
    float: left;
}

.wrapper-form {
    display: flex;
    gap: 5em;
}
.paragraph {
    font-weight: bold;
    font-size: large;
    margin-top: 4em;
}
.paragraph2 {
    font-weight: bold;
    margin-bottom: 30px;;
}

.row {
    display: flex;
    gap: 4em;
}

legend {
    font-weight: bold;
}
button {
    background-color: #596c49;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 10%;
    margin-top: 40px;
    width: 150px;
    font-size: small;
}

.form-group.password:invalid {
    border: 1px red solid;
}
.form-group.password:valid {
    border:1px black solid;
}
input {
    border: 1px solid #E5E7EB;
}
input:focus {
    border: 2px rgb(59, 59, 243) solid;
    box-shadow: 1px 1px 1px;
}
label {
    font-size: small;
}